 <div>
  <p>
  login works!
 </p>
<p>
  Form Status: {{ loginForm.status }}
</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
  <label>
    Username:
    <input type="text" formControlName="username" placeholder="Enter username" required>
  </label>

  <label>
    Password:
    <input type="text" formControlName="password" placeholder="Enter password" required>
  </label>

  <input type="submit" [disabled]="!loginForm.valid" />
</form>  
</div> 
<!-- <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
<br><br><br><br><br>
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
  <br><br><br><br><br><br>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br><br>
</div> -->